@model SGO.Models.Obra

@{
    ViewBag.Title = "Details";
}
<div id="bodyContainer" ng-app="SGOApp" ng-controller="ObraCtrl">
    <div class="row" id="titulo-obra">
        <h3 class="col-md-8">@Html.DisplayFor(model => model.Nombre)</h3>
        <div class="btn-group col-md-4">
            <button ng-click="limpiarFiltros()" class="btn btn-warning col-md-6">Limpiar filtros</button>
            <button class="btn btn-warning col-md-6">Modificar obra</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="dropdown col-md-3">
            <button class="btn btn-default dropdown-toggle" type="button" id="cmbRubro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Rubro
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="cmbRubro">
                <li><a href="#">Rubro 1</a></li>
            </ul>
        </div>
        <div class="dropdown col-md-3">
            <button class="btn btn-default dropdown-toggle" type="button" id="cmbSubrubro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Subrubro
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="cmbSubrubro">
                <li><a href="#">Subrubro 1</a></li>
            </ul>
        </div>
        <div class="dropdown col-md-3">
            <button class="btn btn-default dropdown-toggle" type="button" id="cmbItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Item
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="cmbItem">
                <li><a href="#">Item 1</a></li>
            </ul>
        </div>
        <select class="selectpicker" data-live-search="true">
            <option>SubItem1</option>
        </select>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <input type="checkbox" name="my-checkbox" checked>
        </div>
        <div class="col-md-2"></div>
        <button class="btn btn-danger col-md-2">Registrar pago</button>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    {{aEntregar}}
                </dt>
                <dd>
                    Cantidad a entregar
                </dd>
                <dt>
                    {{entregado}}
                </dt>
                <dd>
                    Cantidad entregada
                </dd>
                <dt>
                    {{movimientos}}
                </dt>
                <dd>
                    Número de movimientos
                </dd>
            </dl>
        </div>
    </div>
    <hr />
    <div>
        <button asp-action="Index" class="btn">Volver</button>
    </div>
</div>
@Scripts.Render("~/bundles/angular")
@section scripts {
    @Scripts.Render("~/Scripts/obra-details.js")
    @Scripts.Render("~/Scripts/Chart.bundle.min.js")
}