@model SGO.Models.Obra

@{
    ViewBag.Title = "Details";
}
<div id="bodyContainer" ng-app="SGOApp" ng-controller="ObraCtrl" ng-init="cargarInfoObra()">
    <div class="row" id="titulo-obra">
        <h3 class="col-md-8">@Html.DisplayFor(model => model.Nombre)</h3>
        <div class="btn-group col-md-4">
            <button ng-click="limpiarFiltros()" class="btn btn-warning col-md-6">Limpiar filtros</button>
            <button class="btn btn-warning col-md-6">Modificar obra</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="dropdown col-md-3">
            <button class="btn btn-default dropdown-toggle" type="button" id="cmbRubro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedRubro}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="cmbRubro">
                <li ng-repeat="rubro in rubros"><a ng-click="seleccionarRubro(rubro)">{{rubro}}</a></li>
            </ul>
        </div>
        <div class="dropdown col-md-3">
            <button class="btn btn-default dropdown-toggle" type="button" id="cmbSubrubro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedSubrubro}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="cmbSubrubro">
                <li ng-repeat="subrubro in subrubros"><a ng-click="seleccionarSubrubro(subrubro)">{{subrubro}}</a></li>
            </ul>
        </div>
        <div class="dropdown col-md-3">
            <button class="btn btn-default dropdown-toggle" type="button" id="cmbItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedItem}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="cmbItem">
                <li ng-repeat="item in items"><a ng-click="seleccionarItem(item)">{{item}}</a></li>
            </ul>
        </div>
        <div class="dropdown col-md-3">
            <button class="btn btn-default dropdown-togglen" type="button" id="cmbSubitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedSubitem}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="cmbSubItem">
                <li ng-repeat="subitem in subitems"><a ng-click="seleccionarSubitem(subitem)">{{subitem}}</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <input type="checkbox" name="my-checkbox" checked>
        </div>
        <div class="col-md-2"></div>
        <button class="btn btn-danger col-md-2">Registrar pago</button>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    {{aEntregar}}
                </dt>
                <dd>
                    Cantidad a entregar
                </dd>
                <dt>
                    {{entregado}}
                </dt>
                <dd>
                    Cantidad entregada
                </dd>
                <dt>
                    {{movimientos}}
                </dt>
                <dd>
                    Número de movimientos
                </dd>
            </dl>
        </div>
    </div>
    <hr />
    <div>
        <button asp-action="Index" class="btn">Volver</button>
    </div>
</div>
@Scripts.Render("~/bundles/angular")
@section scripts {
    @Scripts.Render("~/Scripts/obra-details.js")
}