@model SGO.Models.Obra

@{
    ViewData["Title"] = "Details";
}
<div class="row" id="titulo-obra">
    <h3 class="col-md-8">@Html.DisplayFor(model => model.Nombre)</h3>
    <div class="btn-group col-md-4">
        <button class="btn btn-warning col-md-6">Limpiar filtros</button>
        <button class="btn btn-warning col-md-6">Modificar obra</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="dropdown col-md-3">
        <button class="btn btn-default dropdown-toggle" type="button" id="cmbRubro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Rubro
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="cmbRubro">
            <li><a href="#">Rubro 1</a></li>
        </ul>
    </div>
    <div class="dropdown col-md-3">
        <button class="btn btn-default dropdown-toggle" type="button" id="cmbSubrubro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Subrubro
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="cmbSubrubro">
            <li><a href="#">Subrubro 1</a></li>
        </ul>
    </div>
    <div class="dropdown col-md-3">
        <button class="btn btn-default dropdown-toggle" type="button" id="cmbItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Item
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="cmbItem">
            <li><a href="#">Item 1</a></li>
        </ul>
    </div>
    <select class="selectpicker" data-live-search="true">
        <option>SubItem1</option>
    </select>
</div>
<hr />
<div class="row">
    <input class="col-md-3" type="checkbox" name="my-checkbox" checked>
    <div class="col-md-6"></div>
    <button class="btn btn-danger col-md-2">Registrar pago</button>
    <div class="col-md-1"></div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <!--canvas-->
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                0
            </dt>
            <dd>
                Cantidad a entregar
            </dd>
            <dt>
                0
            </dt>
            <dd>
                Cantidad entregada
            </dd>
            <dt>
                0
            </dt>
            <dd>
                Número de movimientos
            </dd>
        </dl>
    </div>
</div>
<hr />
<div>
    <button asp-action="Index" class="btn">Volver</button>
</div>
